@import "tailwindcss";

/* @theme {
    --color-red: #B60A06;
    --color-gold:  #C6B000
}

:root {
    --color-red: #B60A06;
    --color-gold: #C6B000;
  
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-title: 32px;
  } */